body {
   margin: 0px;
   text-align: center;
   font-family: 'Merriweather', serif;
}

h1{
  font-size: 5rem;
  color: #e4f9ff;
  margin-top: 0px auto 0px auto;
  font-family: 'Sacramento', cursive;
}

.top-h2{
  color:black;
  font-weight: normal;
}

h2{
  color: #12cad6;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
}

h3{
  color: #12cad6;
  font-family: 'Montserrat', sans-serif;
}

.top-container{
  background-color: #12cad6;
  position: relative;
  padding-top: 150px;
}

.middle-container{

}

.bottom-container{
  margin:0px;
}

.top-cloud{
  position: absolute;
  right: 200px;
  top: 100px;
}

.bottom-cloud{
  position:absolute;
  bottom: 300px;
  left: 200px;
}

.profile{
  margin: 50px auto;
  width: 50%;
}

.profileimg{
  border-radius: 190px;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.affiliatemarket{
  float: right;
  margin-left: 120px;
}

.webdevelop{
  float: left;
  margin-right: 120px;
}

.horizontalrows{
  margin: 80px auto 80px auto;
  color: #eeeeee;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

.contact-me{
  width: 50%;
  margin: 50px auto 50px auto;
  line-height: 2;
}

.btn{
  width: 35%;
  background-color: #0f4c75;
  border: none;
  color: #bbe1fa;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
}

.mail{
  width: 12%;
  height: 12%;
  float: left;
}

.bottom-container{
  background-color:#12cad6;
  margin:0px;
  padding-top: 30px;
}

.bottompara{
  margin: 0px;
  padding: 30px;
  color: white;
}

.footer-link{
  margin: auto 12px;
  text-decoration: none;
  color: #d3f4ff;
}
